[submodule "vendor/us-core"]
	path = vendor/us-core
	url = https://github.com/HL7/US-Core.git
[submodule "vendor/fhir-ig-publisher"]
	path = vendor/fhir-ig-publisher
	url = https://github.com/HL7/fhir-ig-publisher.git
[submodule "vendor/mcode"]
	path = vendor/mcode
	url = https://github.com/HL7/fhir-mCODE-ig.git
[submodule "vendor/fhir-core"]
	path = vendor/fhir-core
	url = https://github.com/hapifhir/org.hl7.fhir.core.git
[submodule "vendor/sql-on-fhir"]
	path = vendor/sql-on-fhir
	url = https://github.com/FHIR/sql-on-fhir-v2.git
